OPENBIS_ADMIN_PASS=changeit
OPENBIS_DB_ADMIN_PASS=changeit
OPENBIS_DB_ADMIN_USER=postgres
OPENBIS_DB_APP_PASS=changeit
OPENBIS_DB_APP_USER=openbis
OPENBIS_DB_HOST=openbis-db
OPENBIS_FQDN=openbis-app
OPENBIS_AS_PORT=8082
OPENBIS_DSS_PORT=8083
OPENBIS_URL=http://localhost:${OPENBIS_AS_PORT}
VITE_OPENBIS_URL=${OPENBIS_URL}
