{
    debug
    	log default {
		output stdout
		format json
        level {$CADDY_LOG_LEVEL}
        }
}

:80 {
    root * /var/www/html
    file_server
    log default
    handle_path /openbis/* {
        
        rewrite * /openbis{path}
        reverse_proxy {$OPENBIS_URL}
    }
}