{
    auto_https off
    debug
    	log default {
		output stdout
		format json
        level {$CADDY_LOG_LEVEL}
        }
        
}

(openbis) {
    
    log default
    handle /openbis* {
    reverse_proxy {$OPENBIS_URL}
    }
    handle /datastore_server* {
    reverse_proxy {$OPENBIS_DSS_URL}
    }
    # Convenience alias to match openBIS docs/examples that use /afs-server/*.
    # In this docker setup the AFS server is exposed separately on port 8085.
    handle /afs-server* {
    reverse_proxy {$OPENBIS_AFS_URL:http://openbis-app:8085}
    }
    handle {
        root * /var/www/html
        file_server
    }
}

localhost:443 {
    import openbis
}


localhost:80, localhost.openbis.net:80 {
    import openbis
}
