{
  auto_https off
  admin off
  
	log {
		format json
		output stderr
}
}

:80 {

  log

  # Handle preflight CORS requests
  @cors_preflight {
    method OPTIONS
  }
  handle @cors_preflight {
    respond "" 204
  }

  # Serve Vite dev server frontend
  reverse_proxy / @vite {
    to http://vite:5173
    
  }

  # Proxy backend openBIS AS/DSS traffic
  handle_path /openbis/* {
    reverse_proxy http://{$OPENBIS_HOST}:8080
  }

  handle_path /datastore_server/* {
    reverse_proxy http://{$OPENBIS_HOST}:8081
  }

  # Optional: proxy AFS if needed

  handle_path /afs-server/* {
      reverse_proxy http://{$OPENBIS_HOST}:8085
    }



  # Enable CORS for proxied routes (e.g., download-url workaround)
  header * {
    Access-Control-Allow-Origin *
    Access-Control-Allow-Methods "GET, POST, OPTIONS"
    Access-Control-Allow-Headers "*"
  }

  # Fallback
  respond /404 "Not Found" 404
}